.timeline-container {
  padding: 0.5rem 1rem;
  font-family: "Inter", sans-serif;  
}

.timeline-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: rgb(174, 175, 175);
  
}

.timeline {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #e5e7eb;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 30px;
}

.timeline-dot {
  position: absolute;
  left: -14px;
  top: 0rem;
  width: 14px;
  height: 14px;
  background-color: var(--primary-yellow); /* Verde tipo Tailwind emerald-500 */
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #10b98122;
}

.timeline-content {
  background: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.timeline-content:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.timeline-company {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  margin-bottom: 0.3rem;
}

.timeline-role {
  color: #374151;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.timeline-period {
  display: block;
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 0.6rem;
}

.timeline-description {
  color: #4b5563;
  font-size: 0.95rem;
  line-height: 1.5;
  text-align: justify;
}

/* Responsive */
@media (max-width: 600px) {
  .timeline {
    padding-left: 15px;
  }

  .timeline-item {
    padding-left: 25px;
  }

  .timeline-dot {
    position: absolute;
    left: -9px;
  }
}
