.portfolio {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s, transform 1s;
}
.show {
  opacity: 1;
  transform: translateX(0px);
}

.portfolioTitle {
  font-size: 25px;
  color: var(--primary-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 617px) {
  .portfolio {
    width: 100vw;
    margin: 0;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
  }

  .portfolioTitle {
    font-size: 30px;
  }
}

@media (min-width: 618px) and (max-width: 980px) {
  .portfolio {
    margin: 0;
    margin-bottom: 60px;
  }

  .portfolioTitle {
    font-size: 30px;
  }
}
