.skillsGLobalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  opacity: 0;
  transition: opacity 0.5s, transform 1s;
  transform: translateY(10px);
  /* background-color: red; */
}
.show {
  opacity: 1;
}

.skillsTitle {
  font-size: 25px;
  color: var(--primary-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-bars-full-container{
  display: flex;
  gap: 1rem;
}

.skills-bars-single-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 30vw;
}

.skills-bars-single-title{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 34px;
  color: rgb(174, 175, 175);
}

@media (min-width: 320px) and (max-width: 617px) {

  .skillsTitle {
    font-size: 30px;
  }

  .skills-bars-full-container{
    flex-direction: column;
  }
  .skills-bars-single-title{
    font-size: 18px !important;
  }
  .skills-bars-single-container{
    width: 80vw;
  }
}

@media (min-width: 618px) and (max-width: 980px) {
  .skillsTitle {
    font-size: 30px;
  }

  .ImgContainer {
    width: 120px;
    height: 120px;
  }

  .ImgContainer:hover {
    width: 130px;
    height: 130px;
  }

  .textBehind {
    font-size: 18px;
  }
}
