/* Contenedor general */
.pg-container {
  padding: 2rem;
  background: #0f0f10;
  color: #fff;
  /* min-height: 100vh; */
  box-sizing: border-box;
  margin-bottom: 5rem;

  /* opacity: 0;
   transition: opacity 0.5s, transform 1s; */
}

/* .show {
  opacity: 1;
  transform: translateX(0px);
} */

/* Botones de filtro */
.pg-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.pg-filter-btn {
  background: transparent;
  border: 2px solid #fca311;
  color: #fca311;
  padding: 0.5rem 1.1rem;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.25s ease;
  font-weight: 600;
}

.pg-filter-btn:hover {
  background: #fca311;
  color: #0f0f10;
}

.pg-filter-btn.active {
  background: #fca311;
  color: #0f0f10;
}

/* Grid de imágenes */
.pg-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 6 columnas por defecto */
  /* max-height: 550px; */
  height: auto;
  gap: 1rem;
  align-items: stretch;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* Fade classes */
.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.fade-out {
  opacity: 0;
  transform: translateY(6px);
}

/* Cada tarjeta */
.pg-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: #111;
  min-height: 80px;
}

/* Imagen */
.pg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.45s ease;
}

.pg-item:hover .pg-img {
  transform: scale(1.05);
  cursor: pointer;
}

/* Leyenda opcional con nombre del proyecto (pequeña etiqueta) */
/* .pg-caption {
  position: absolute;
  left: 8px;
  bottom: 8px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  pointer-events: none;
} */

/* Mensaje cuando no hay imágenes */
/* .pg-empty {
  grid-column: 1 / -1;
  text-align: center;
  padding: 2rem;
  color: #bbb;
} */

/* Responsiveness */
@media (max-width: 1024px) {
  .pg-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 990px) {
  .pg-grid {
    grid-template-columns: repeat(4, 1fr); /* 6 columnas por defecto */
    height: auto;
  }

  .pg-caption {
    font-size: 0.8rem;
    padding: 5px 8px;
  }
}

@media (max-width: 440px) {
  .pg-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 6 columnas por defecto */
  }
}


