.homeContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.664)),
    url("../../assets/img/Background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 80px; */
}
/* .show{
  opacity: 1;
} */

.typeWriter {
  width: 500px;
  margin-left: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeImgContainer {
  width: 250px;
  height: 250px;
  border-radius: 25%;
  overflow: hidden;
}
.homeImgContainer img {
  width: 100%;
}
.homeImgContainer {
  display: inline-block;
  animation: floatAnimation 4s ease-in-out infinite; /* 4 segundos de duración, aceleración suave, infinito */
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  50% {
    transform: translateY(-20px); /* Posición en la mitad de la animación */
  }
}

.typeWriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid  var(--primary-yellow); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /*  Adjust as needed */
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
  animation: typing 3s steps(100, end), blink-caret 0.5s step-end infinite;
}
.typeWriter h1 span {
  color:  var(--primary-yellow);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/*The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color:  var(--primary-yellow);
  }
}

.typeWriter p {
  font-size: 20px;
  border-radius: 8px;
  padding: 5px;
  color: white;
  text-align: justify;
}

.homeAnimation {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 0%;
  }
}

.downloadCV {
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background-color:  var(--primary-yellow);
    border-radius: 8px;
    width: 150px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    right: 10px;
    bottom: 20px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    animation: floatAnimation 4s ease-in-out infinite; /* 4 segundos de duración, aceleración suave, infinito */
}
.downloadCV i {
  color: var(--primary-yellow);
}

.downloadCV a{ 
  color: aliceblue;
  text-decoration: none;
}

.downloadCV:hover {
  height: 80px;
  transition: 0.3s;
  background-color: black;
  border: 1px solid var(--primary-yellow);
  outline: none;
  color: red;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  50% {
    transform: translateY(-20px); /* Posición en la mitad de la animación */
  }
}

@media (min-width: 320px) and (max-width: 617px) {
  .homeContainer {
    margin-bottom: 60px;
  }

  .homeImgContainer {
    width: 180px;
    height: 200px;
  }
  .typeWriter {
    width: 250px;
  }
  .typeWriter h1 {
    font-size: 15px;
  }

  .typeWriter p {
    font-size: 15px;
  }

  .downloadCV {
    width: 120px;
    height: 40px;
    bottom: 4rem;
  }

  .downloadCV a {
    font-size: 15px;
  }
}

@media (min-width: 618px) and (max-width: 980px) {
  .homeImgContainer {
    width: 180px;
    height: 200px;
  }
  .typeWriter {
    width: 450px;
  }

  .typeWriter h1 {
    font-size: 28px;
  }
  .typeWriter p {
    font-size: 20px;
  }

  .downloadCV {
    width: 130px;
    height: 30px;
  }

  .downloadCV a {
    font-size: 15px;
  }
}
