.headerContainer {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 0 5px 0px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-myName{
  font-size: 35px;
  color: var(--primary-yellow);
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

.ShortHeaderContainer {
  width: 45px;
  top: 5%;
  right: 1%;
  height: 75%;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(18, 18, 58);
  transition: 0.5s;
  overflow: hidden;
}
.ShortHeaderContainer i {
  font-size: 17px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.active i {
  background-color: white;
}

.ShortHeaderContainer > .headerList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6%;
}
.headerList {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 10px;
  margin-right: 20px;
  gap: 35px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: 0.5s;
}

.hidden {
  display: none;
  transition: 0.5s;
}

i {
  color:  var(--primary-yellow);
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
}

.headerOption {
  height: 100%;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: "2px solid red";
}

.headerOption li {
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.headerOption li:hover {
  transition: 0.3s;
  cursor: pointer;
}
.headerOption span {
  position: relative;
  cursor: pointer;
}

.headerOption span {
  position: relative;
}

.headerOption span::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--primary-yellow);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.headerOption span:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}
.flagIcon{
  width: 35px;
}

.fa-moon {
  color: #96b6c5;
  width: 30px;
}
.fa-sun {
  color: var(--primary-yellow);
  transition: transform 0.5s;
}

@media (min-width: 618px) and (max-width: 980px) {

  .navBar-myName{
    margin-left: 1rem;
    font-size: 25px;
  }
  .headerList {
    font-size: 10px;
    gap: 10px;

  }

  .headerList i {
    font-size: 15px;
  }
  .ShortHeaderContainer {
    padding: 10px;
    /* height: 75%; */
  }

  .flagIcon{
    width: 30px;
  }
}


@media (min-width: 320px) and (max-width: 617px) {


  
  .navBar-myName{
    margin-left: 1rem;
  }

  .headerContainer {
    height: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navBar-myName{
    font-size: 15px;
  }

  .headerList {
    gap: 12px;
    font-size: 7px;
    margin-right: 5px;
    padding-left: 0;
    /* background-color: red; */
    padding-top: 0.5rem;
  }

  .headerOption span{
    display: none;
  }

  .headerList i {
    font-size: 15px;
  }
  .ShortHeaderContainer {
    height: 45%;
    width: 30px;
    padding: 5px;
  }

  .active i {
    padding: 2px;
  }
  .flagIcon{
    width: 20px;
  }
}

