.FooterContainer {
  width: 100%;
  height: 30vh;
  background-color: rgb(29, 29, 29);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 20px;
}

.FooterContainer h2 {
  font-family: "Comforter", cursive;
  font-size: 40px;
  font-weight: 100;
}
.FooterContainer h2 span:nth-child(1) {
  color: var(--primary-yellow);
}
.FooterContainer h2 span:nth-child(2) {
  color: crimson;
}
.FooterContainer h2 span:nth-child(3) {
  color: rgb(13, 214, 13);
} 
.FooterContainer h2 span:nth-child(4) {
  color: deepskyblue;
}
.socialMediaContainer {
  /*  */
}

.socialMediaIconsContainer {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.socialMediaIconsContainer a {
  text-decoration: none;
}

.socialMediaIconsContainer i {
  font-size: 30px;
  border: 1px solid white;
  padding: 25px;
  border-radius: 20%;
  color:  var(--primary-yellow);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  width: 45px;
  height: 45px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideEffect {
  background-color: white;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  transition: left 0.3s;
}
.socialMediaIconsContainer i:hover .insideEffect {
  background-color: white;
  left: 0;
  transition: left 0.3s;
}
.fa-instagram:hover {
  color: rgb(230, 47, 47);
}
.fa-facebook-f:hover {
  color: rgb(56, 56, 243);
}
.fa-whatsapp:hover {
  color: rgb(17, 133, 17);
}
.fa-linkedin-in:hover {
  color: rgb(56, 56, 243);
}

.socialMediaIconsContainer i:active {
  background-color: rgb(146, 144, 144);
  color: white;
}

@media (min-width: 320px) and (max-width: 617px) {
  .FooterContainer {
    height: 20vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .FooterContainer h2 {
    font-size: 20px;
  }

  .FooterContainer p {
    font-size: 10px;
  }

  .socialMediaIconsContainer {
    gap: 10px;
  }
  .socialMediaIconsContainer h3 {
    font-size: small;
  }

  .socialMediaIconsContainer i {
    font-size: 20px;
    padding: 15px;
    width: 25px;
    height: 25px;
  }
}
