.carouselContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* Pausa track al hover, opcional si quieres animación CSS */
.carouselTrack.paused {
  animation-play-state: paused;
  transition: transform 0.2s ease-out;
}

/* Ya tenías hover para zoom en imágenes */
.carouselItem:hover img {
  transform: scale(1.05);
}
.carouselViewport {
  width: 100%;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  gap: 20px;
  transition: transform 0.2s ease-out;
}

.carouselItem {
  flex: 0 0 650px;
  height: 350px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(87, 92, 86, 0.548);
}

.carouselItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s;
}

.carouselItem:hover img {
  transform: scale(1.05);
}

/* Overlay con botones */
.carouselOverlay {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.689);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.carouselOverlay a {
  text-decoration: none;
}
.carouselOverlay p {
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid #fca311;
  color: #fca311;
  background-color: transparent;
  transition: 0.4s;
  margin: 0;
}

.carouselOverlay p:hover {
  background-color: #fca311;
  color: black;
}

.carouselOverlay i:hover {
  background-color: #fca311;
  color: black;
}

.carouselItem:hover .carouselOverlay {
  top: 0;
  opacity: 1;
}

/* Botones */
.carouselBtn {
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(5, 5, 36, 0.374);
  position: absolute;
  z-index: 5;
  transition: 0.3s;
}

.carouselBtn.left {
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
}

.carouselBtn.right {
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
}

.carouselBtn i {
  font-size: 40px;
  color: white;
}

.carouselBtn:hover {
  background-color: #fca211dc;
  cursor: pointer;
}

.carouselBtn:active {
  background-color: rgb(5, 5, 36);
}

::-webkit-scrollbar {
  display: none;
}

/* Responsive */
@media (max-width: 980px) {
  .carouselItem {
    flex: 0 0 500px;
    height: 350px;
  }
  .carouselBtn.left {
    left: 60px;
  }
  .carouselBtn.right {
    right: 60px;
  }
  .carouselBtn i {
    font-size: 30px;
  }
  
}

@media (max-width: 617px) {
  .carouselContainer{
    height: 40vh;
  }
  .carouselItem {
    flex: 0 0 80%;
    height: 250px;
  }
  .carouselBtn.left {
    left: 40px;
  }
  .carouselBtn.right {
    right: 40px;
  }
  .carouselBtn i {
    font-size: 20px;
  }
}
