.contactMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2.5rem;
  opacity: 0;
  transition: opacity 0.5s, transform 1s;
}
.show {
  opacity: 1;
  transform: translateX(0px);
}
.titlesContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactMeTitle {
  font-size: 25px;
  color: var(--primary-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionsTitle{
  font-size: 42px;
}
.contactMeContainer form {
  border-radius: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 1rem;
}

.contactFormAndInfoContainer form div {
  width: 100%;
  
} 
.contactFormAndInfoContainer form div input, textarea{
    width: 100%;
    height: 45px;
    max-height: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    background-color: rgb(32, 32, 32);;
    color: #ffffff;
} 

textarea{
  height: 120px;
  padding: 1rem;
  max-width: 100%;
  min-height: 10rem;
  max-height: 25rem;
}

input::placeholder,textarea::placeholder{
  color: rgb(153, 153, 153);
}

.contactFormAndInfoContainer input:focus,
textarea:focus {
  border: 1px solid var(--primary-yellow);
  outline: none;
}


.nameAndPhoneContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contactFormAndInfoContainer{
  display: flex;
  gap: 1rem;
}

.contactMeContainer form button {
  margin-top: 20px;
  width: 25%;
  min-width: 100px;
  height: 45px;
  background-color: var(--primary-yellow);
  border-radius: 25px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.contactMeContainer form button:hover {
  width: 35%;
  transition: 0.5s;
  background-color: black;
  border: 1px solid var(--primary-yellow);
  outline: none;
  color: var(--primary-yellow);
}

.contactInfoContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3.5rem;
  padding: 1rem;
}

.contactInfo{
  display: flex ;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.contactInfo-icon{
  background-color: var(--primary-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  width: 60px;   
  height: 60px;  
}
.contactInfo-icon i{
  font-size: 35px;
  color: #ffffff;
}

.contactInfo-icons-text p:nth-child(1){
  font-size: 18px;
}
.contactInfo-icons-text p:nth-child(2){
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 830px) {
  .contactMeContainer {
    opacity: 1;
  }
  .contactMeTitle {
  font-size: 20px;
  }
  .questionsTitle{
    font-size: 30px;
    text-align: center;
  }
  .contactFormAndInfoContainer{
    flex-direction: column;
  }
  .contactInfo-icons-text p:nth-child(1){
    font-size: 16px;
  }
  .contactInfo-icons-text p:nth-child(2){
    font-size: 14px;
  }
  .contactMeContainer form {
    width: 100%;
  }
  .contactMeContainer form button {
  width: 35%;
  height: 35px;
  }
  .contactMeContainer form button:hover {
    width: 45%;
  }
  .contactInfoContainer{
    margin-top: 0;
  }
  .contactInfo-icon{
    width: 40px;
    height: 40px;
  }
  .contactInfo-icon i{
    font-size: 25px
  };
}