*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  user-select: none;
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(251 251 251);
}

.darkMode {
  background-color: #000000ee;
  color: white;
}

:root{
  --primary-yellow: #e47c05;
}
