#aboutMe{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutMeContainer {
  /* width: 80vw; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  /* margin-left: 5%; */
  opacity: 0;
  transition: opacity 0.5s;
  margin-bottom: 80px;
}
.show {
  opacity: 1;
}

.titlesContainer{
  display: flex;
  align-items: center;
  /* margin-bottom: 2rem; */
}
.aboutMeContainerinfo{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.imgContainer {
  width: 400px;
  opacity: 0;
  transition: opacity 0.5s;
}

.visible_imgContainer {
  animation: moveImage 1.5s alternate forwards;
}

@keyframes moveImage {
  0% {
    transform: translateX(-700px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.imgContainer img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  animation: moveImg;
}

.AboutMeInfoContainer {
  border-radius: 10px;
  width: 40vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  display: flex;
}

.visible_AboutMeInfoContainer {
  animation: AboutMeInfoContainer_animation 1.5s alternate forwards;
}

@keyframes AboutMeInfoContainer_animation {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.aboutMeList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.aboutMeList li {
  display: flex;
  gap: 10px;
}

.aboutMeList li b {
  margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 617px) {
  .aboutMeContainer {
    margin-bottom: 60px;
    flex-direction: column;
  }
  .imgContainer {
    width: 200px;
  }
  .AboutMeInfoContainer {
    width: 85vw;
    padding: 10px;
    font-size: 15px;
  }
  .aboutMeList {
  }
}

@media (min-width: 618px) and (max-width: 980px) {
  .aboutMeContainer {
    flex-direction: column;
  }
  .AboutMeInfoContainer{
    width: 80vw;    
  }
}
